footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

footer img {
    max-width: 30px;
    padding-bottom: 24px;
    zoom: 1;
    
}
footer img:hover{
    zoom: 1.1;
    transition: all 3s;
    cursor: url("../img/joia.png");
}